* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
#app {
    width: 1200px;
    margin: 0 auto;
  }
  header, footer, nav {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px solid skyblue;
    border-radius:20px ;
  }
  
  main {
    overflow: hidden;
  }
  
  aside {
    float:left;
    width: 100px;
    height: 600px;
    background-color: blue;
    border-radius: 20px;
  }
  
  section {
    float:left;
    width: 1000px;
    min-height: 600px;
    background-color:white;
  }
  
  form, .table {
    padding: 10px;
  }
  
  .btn {
    width: 100px;
  }